.box_shadow {
    border-style: solid;
 border-right: 1px solid color orangered;
 border-left: 1px solid color orangered;
 border-bottom: 1px solid color orangered;
 border-top: 1px solid color orangered;
}